.home {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
z-index: -1;
}

.food {
  position: relative;
  top: 40px;
  left: 20px;
  max-width: 500px;
  z-index: 2;
}
@media (max-width: 1000px) 
{body .food { 
max-width: 800px;
    position: relative;
    left: 80px;
    top: 500px;
}}

.menu { 
  position: relative;
  z-index: 5;
  max-width: 150px;
  right: -700px;
bottom: -150px; }
@media (max-width: 1000px) 
{body .menu {   left: 330px;
    max-width: 300px;
    top: 900px;
}}